.child-margin-4>* {
    margin-right: 10px;
}

.btn {
    padding: 0 5px;
    background: red;
    border-radius: 90px;
    color: #fff;
    font-weight: 900;
    margin: 0 0 0 5px;
    font-size: 12px;
}